@mixin is-btn-calltoaction {
    display: inline-block;
    background: linear-gradient(170deg, $rose-pink 0%, $amethyst 100%);
    padding: 1rem 1.4rem;
    border-radius: 5rem;
    color: #fff;
    text-align: center;
}