/* Global */
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML ELEMENTS */
html {
    scroll-behavior: smooth;
}

body {
    font-family: $mainFont, sans-serif;
}

h1,
h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: inherit;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 1200px) {
    main {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 3rem auto;
        border-radius: 1rem;
    }
}