/* Colors */
/* Fonts */
/* List IMG */
/* Global */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* HTML ELEMENTS */
html {
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif; }

h1,
h2 {
  font-size: 1.5rem;
  font-weight: bold; }

h3 {
  font-size: 1.2rem;
  font-weight: bold; }

main {
  max-width: 1200px;
  margin: 0 auto; }

a {
  color: inherit;
  text-decoration: inherit;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0); }

@media screen and (min-width: 1200px) {
  main {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 3rem auto;
    border-radius: 1rem; } }
.main-header {
  background-color: #fff;
  padding: 1rem 0;
  position: relative;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25); }
  .main-header .btn-goback {
    position: absolute;
    left: 1rem;
    top: 0;
    display: flex;
    height: 100%;
    align-items: center; }
  .main-header .ohmyfood-logo {
    height: 1.6rem;
    display: block;
    margin: 0 auto; }

.main-footer {
  background-color: #353535;
  padding: 1.5rem;
  color: #fff; }
  .main-footer__logo {
    width: 6rem;
    margin-bottom: 1rem; }
  .main-footer__nav ul {
    list-style: none; }
  .main-footer__nav li {
    margin: .8rem 0; }
  .main-footer__nav li:first-child {
    margin-top: 0; }
  .main-footer__nav .have-icon {
    display: inline-flex;
    align-items: center; }
  .main-footer__nav a:hover span {
    text-decoration: underline; }
  .main-footer__nav .footer-link-icon {
    margin-right: .6rem;
    transition: transform 0.5s; }
  .main-footer__nav .have-icon:hover .footer-link-icon {
    transform: scale(1.2); }
  .main-footer__nav .footer-link-icon.is-first {
    margin-right: 1rem; }

.home .heading-home .location-info {
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem; }
  .home .heading-home .location-info__icon {
    padding-right: 1rem; }
  .home .heading-home .location-info__text {
    font-weight: bold; }
.home .heading-home .zone-about {
  background-color: #f7f7f7;
  text-align: center;
  padding: 3rem 1rem; }
  .home .heading-home .zone-about__title {
    margin-bottom: 1rem; }
  .home .heading-home .zone-about__subtitle {
    margin-bottom: 2rem;
    font-size: 1.1rem; }
  .home .heading-home .zone-about__calltoaction {
    display: inline-block;
    background: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
    padding: 1rem 1.4rem;
    border-radius: 5rem;
    color: #fff;
    text-align: center; }
.home .aside-operation {
  padding: 3rem 1.5rem; }
  .home .aside-operation__title {
    margin-bottom: 2rem; }
  .home .aside-operation__step {
    padding: 2rem 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 0.8rem;
    background-color: #f7f7f7;
    border-radius: 1rem;
    box-shadow: 0 7px 12px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    align-items: center;
    transition: all 0.2s; }
    .home .aside-operation__step:hover {
      background-color: #f5edff; }
      .home .aside-operation__step:hover .step__icon {
        color: #9356DC; }
  .home .aside-operation .step__num {
    position: absolute;
    left: -13px;
    background-color: #9356DC;
    color: #fff;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .home .aside-operation .step__icon {
    margin-left: 1rem;
    margin-right: 1.5rem;
    color: #7e7e7e; }
  .home .aside-operation .step__text {
    font-weight: bold;
    font-size: 1.1rem; }
.home .section-restaurants {
  background-color: #f7f7f7;
  padding: 3rem 1.5rem;
  display: grid;
  gap: 1rem; }
  .home .section-restaurants__title {
    margin-bottom: 2rem; }
  .home .section-restaurants .article-restaurant {
    background-color: #fff;
    box-shadow: 0 7px 12px 3px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    position: relative; }
  .home .section-restaurants .img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
    display: block; }
  .home .section-restaurants .restaurant-is-new {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.4rem 0.7rem;
    color: #008766;
    border-radius: 3px;
    background-color: #99E2D0; }
  .home .section-restaurants .content {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center; }

@media screen and (max-width: 768px) {
  .section-restaurants {
    grid-template: auto 1fr 1fr 1fr 1fr / 1fr; }
    .section-restaurants .img {
      height: 40vw; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .section-restaurants {
    grid-template: auto 1fr 1fr / 1fr 1fr; }
    .section-restaurants .article-restaurant:nth-child(2),
    .section-restaurants .article-restaurant:nth-child(3) {
      grid-row-start: 2; }
    .section-restaurants .article-restaurant:nth-child(4),
    .section-restaurants .article-restaurant:nth-child(5) {
      grid-row-start: 3; }
    .section-restaurants .img {
      height: 15rem; } }
@media screen and (min-width: 1025px) {
  .section-restaurants {
    grid-template: auto 1fr / 1fr 1fr 1fr 1fr; }
    .section-restaurants .article-restaurant {
      grid-row-start: 2; }
    .section-restaurants .img {
      height: 10rem; } }
.img-la-palette-du-gout {
  background-image: url(./../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg); }

.img-la-note-enchantee {
  background-image: url(./../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg); }

.img-a-la-francaise {
  background-image: url(./../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg); }

.img-le-delice-des-sens {
  background-image: url(./../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg); }

.menu {
  padding-top: 55vw;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat; }
  .menu .is-font-shrikhand {
    font-family: "Shrikhand", cursive;
    font-weight: normal; }
  .menu__main-section {
    background-color: #f7f7f7;
    border-radius: 3rem 3rem 0 0;
    padding: 1rem; }

@media screen and (min-width: 900px) {
  .menu {
    padding-top: 20rem;
    background-size: 100% auto;
    background-position: center -15rem; }
    .menu__main-section {
      border-radius: 0; } }

/*# sourceMappingURL=style.css.map */
