.main-footer {
    background-color: #353535;
    padding: 1.5rem;
    color: #fff;

    @include media-min(769px) {
        padding: 3rem 1.5rem;
    }

    .container {
        @include global-max-screen-width;
    }

    .logo-link {
        margin-bottom: 1rem;
        display: block;

        @include media-min(769px) {
            text-align: center;
        }

        &__img {
            width: 6rem;
        }
    }

    &__nav {
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;

            @include media-min(769px) {
                flex-direction: row;
                justify-content: center;

                li {
                    margin: 0 1rem;
                }
            }

        }

        li {
            margin-bottom: .8rem;
        }

        li:first-child {
            margin-top: 0;
        }

        .have-icon {
            display: inline-flex;
            align-items: center;
        }

        a:hover span {
            text-decoration: underline;
        }

        .footer-link-icon {
            margin-right: .6rem;
            transition: transform 0.5s;
        }

        .have-icon:hover .footer-link-icon {
            transform: scale(1.2);
        }

        .footer-link-icon.is-first {
            margin-right: 1rem;
        }
    }
}