.main-footer {
    background-color: #353535;
    padding: 1.5rem;
    color: #fff;

    .container {
        max-width: 1440px;
        margin: 0 auto;
    }

    &__logo {
        width: 6rem;
        margin-bottom: 1rem;
    }

    &__nav {
        ul {
            list-style: none;
        }

        li {
            margin: .8rem 0;
        }

        li:first-child {
            margin-top: 0;
        }

        .have-icon {
            display: inline-flex;
            align-items: center;
        }

        a:hover span {
            text-decoration: underline;
        }

        .footer-link-icon {
            margin-right: .6rem;
            transition: transform 0.5s;
        }

        .have-icon:hover .footer-link-icon {
            transform: scale(1.2);
        }

        .footer-link-icon.is-first {
            margin-right: 1rem;
        }
    }
}