.main-header {
    background-color: #fff;
    padding: 1rem 0;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);

    .container {
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
    }

    .btn-goback {
        position: absolute;
        left: 1rem;
        top: 0;
        display: flex;
        height: 100%;
        align-items: center;
    }

    .ohmyfood-logo {
        height: 1.6rem;
        display: block;
        margin: 0 auto;
    }
}