.heading-home {
    .location-info {
        background-color: #eaeaea;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;

        &__icon {
            padding-right: 1rem;
        }

        &__text {
            font-weight: bold;
        }
    }

    .zone-about {
        background-color: #f7f7f7;
        text-align: center;
        padding: 3rem 1rem;

        &__title {
            margin-bottom: 1rem;
        }

        &__subtitle {
            margin-bottom: 2rem;
            font-size: 1.1rem;
        }

        &__calltoaction {
            @include is-btn-calltoaction;
        }
    }
}

.home {
    .aside-operation {
        padding: 3rem 1.5rem;

        &__title {
            margin-bottom: 2rem;
        }

        &__step {
            padding: 2rem 1.5rem;
            margin-bottom: 1.5rem;
            margin-left: 0.8rem;
            background-color: #f7f7f7;
            border-radius: 1rem;
            @include global-box-shadow;
            position: relative;
            display: flex;
            align-items: center;
            transition: all 0.2s;

            &:hover {
                background-color: #f5edff;

                .step__icon {
                    color: $amethyst;

                }
            }
        }

        .step__num {
            position: absolute;
            left: -13px;
            background-color: $amethyst;
            color: #fff;
            width: 1.8rem;
            height: 1.8rem;
            border-radius: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .step__icon {
            margin-left: 1rem;
            margin-right: 1.5rem;
            color: #7e7e7e;
        }

        .step__text {
            font-weight: bold;
            font-size: 1.1rem;
        }
    }

    .section-restaurants {
        background-color: #f7f7f7;
        padding: 3rem 1.5rem;
        display: grid;
        gap: 1rem;

        @include media-max(768px) {
            grid-template: auto 1fr 1fr 1fr 1fr / 1fr;
        }

        @include media-min-max(769px, 1024px) {
            grid-template: auto 1fr 1fr / 1fr 1fr;
        }

        @include media-min(1025px) {
            grid-template: auto 1fr / 1fr 1fr 1fr 1fr;
        }

        &__title {
            margin-bottom: 2rem;
        }

        .article-restaurant {
            background-color: #fff;
            @include global-box-shadow;
            border-radius: 1rem;
            position: relative;

            @include media-min-max(769px, 1024px) {

                &:nth-child(2),
                &:nth-child(3) {
                    grid-row-start: 2;
                }

                &:nth-child(4),
                &:nth-child(5) {
                    grid-row-start: 3;
                }
            }

            @include media-min(1025px) {
                grid-row-start: 2;
            }
        }

        .img {
            width: 100%;
            border-radius: 1rem 1rem 0 0;
            object-fit: cover;
            display: block;

            @include media-max(768px) {
                height: 40vw;
            }

            @include media-min-max(769px, 1024px) {
                height: 13rem;
            }

            @include media-min(1025px) {
                height: 10rem;
            }
        }

        .restaurant-is-new {
            position: absolute;
            top: 1rem;
            right: 1rem;
            padding: 0.4rem 0.7rem;
            color: #008766;
            border-radius: 3px;
            background-color: $middle-blue-green;
        }

        .content {
            display: flex;
            padding: 1rem;
            justify-content: space-between;
            align-items: center;
        }
    }
}