@each $name,
$url in $bgImgMenu {
    .img-#{$name} {
        background-image: url(#{$url});
    }
}

.menu {
    padding-top: 55vw;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;

    @include media-min(900px) {
        padding-top: 20rem;
        background-size: 100% auto;
        background-position: center -15rem;
    }

    .is-font-shrikhand {
        font-family: $titleFont, cursive;
        font-weight: normal;
    }

    &__main-section {
        background-color: #f7f7f7;
        border-radius: 3rem 3rem 0 0;
        padding: 1rem;

        @include media-min(900px) {
            border-radius: 0;
        }
    }

}